node_modules
dist
.git
.github
.husky
coverage
*.md
docs
terraform
test
openapi
.env
.env.*
!.env.example
*.log
.vscode
.idea
**/*.spec.ts
**/__tests__
*.tsbuildinfo
tsconfig.build.tsbuildinfo
.terraform
**/.terraform
**/.terraform.lock.hcl
